@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Design System Theming */
  html {
    --color-default: 250 250 250;
    --color-neutral: 24 24 27;
    --color-primary: 24 24 27;
    --color-secondary: 113 113 122;
    --color-accent: 161 161 170;
    --color-warning: 234 179 8;
    --color-error: 239 68 68;
    --color-success: 34 197 94;
    --color-info: 59 130 246;
    --color-foreground: 9 9 11;
    --color-background: 250 250 250;

    @apply bg-default text-zinc-900;
  }

  html.dark {
    --color-default: 9 9 11;
    --color-neutral: 24 24 27;
    --color-primary: 244 244 245;
    --color-secondary: 161 161 170;
    --color-accent: 113 113 122;
    --color-warning: 234 179 8;
    --color-error: 239 68 68;
    --color-success: 34 197 94;
    --color-info: 59 130 246;
    --color-foreground: 244 244 245;
    --color-background: 9 9 11;

    @apply bg-default text-ss-gray-100;
  }

  html {
    @apply scroll-smooth accent-primary scrollbar-thin scrollbar-track-transparent scrollbar-thumb-ss-gray-300 dark:scrollbar-track-transparent dark:scrollbar-thumb-ss-gray-300;
  }

  /* Typewriter */
  .cursor::after {
    display: block;
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: cursor 0.6s linear infinite alternate;
    will-change: opacity;
  }

  @keyframes cursor {
    0%,
    40% {
      opacity: 1;
    }

    60%,
    100% {
      opacity: 0;
    }
  }

  /* Base stylings */
  *:focus:not(:focus-visible) {
    outline: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
  }

  a:focus {
    outline: 2px solid currentColor;
    outline-offset: 0.25em;
  }

  button:focus {
    outline: 2px solid currentColor;
    outline-offset: 0.25em;
  }

  article > section :is(ul, ol) > * + * {
    margin-top: 0.75rem;
  }

  article > section li > :is(p, pre, blockquote):not(:first-child) {
    margin-top: 1rem;
  }

  article > section :is(ul, ol) {
    padding-inline-start: 1em;
  }

  article > section nav :is(ul, ol) {
    padding-inline-start: inherit;
  }

  td,
  th {
    padding: 6px;
    text-align: start;
  }

  .ss-scrollbar {
    @apply scrollbar-thin scrollbar-track-slate-300 scrollbar-thumb-ss-gray-300 dark:scrollbar-track-ss-gray-200/10 dark:scrollbar-thumb-ss-gray-300;
  }

  .ss-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full;
  }

  .line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  h1[id],
  h2[id],
  h3[id],
  h4[id],
  h5[id],
  #content {
    @apply scroll-mt-36 lg:scroll-mt-24;
  }

  /* only at less than md */
  @media (max-width: 767.5px) {
    .mobile-sidebar-toggle {
      overflow: hidden;
      height: 100vh;
    }

    .mobile-sidebar-toggle #grid-left {
      z-index: 20;
      display: flex;
      width: 100vw;
      height: 100vh;
    }
  }

  /* Markdown Styling */
  .markdown {
    @apply flex w-full flex-col items-start justify-start px-4 leading-relaxed text-slate-900 selection:bg-ss-gray-200 selection:text-ss-gray-500 dark:text-ss-gray-100 dark:selection:bg-ss-gray-100 dark:selection:text-slate-900;
  }
  .markdown h1 {
    @apply mt-8 mb-4 text-3xl font-extrabold;
  }
  .markdown h2 {
    @apply mt-8 mb-4 text-2xl font-semibold;
  }
  .markdown h3 {
    @apply mt-4 mb-2 text-xl font-semibold;
  }
  .markdown h4 {
    @apply mt-2 mb-1 text-base font-medium;
  }
  .markdown li {
    @apply list-disc text-slate-900 dark:text-white;
  }
  .markdown ol > li {
    @apply mb-2 list-decimal;
  }
  .markdown p {
    @apply mb-4 dark:text-white;
  }
  .markdown a > p {
    @apply mb-0 text-sm;
  }
  .markdown a:not(.heading-link--hidden---effects) {
    @apply text-ss-gray-500 underline decoration-slate-500 
          decoration-dotted underline-offset-2  
          hover:text-ss-gray-700 dark:text-ss-gray-200 
          dark:decoration-ss-gray-200 dark:hover:text-ss-gray-300;
  }

  :is([dir="rtl"]) .markdown a[rel~="noreferrer"] > span {
    @apply inline-flex -scale-x-100;
  }

  .markdown code {
    @apply break-words [direction:ltr] [unicode-bidi:embed] lg:break-normal;
  }

  .markdown .code-wrapper {
    @apply inline rounded border border-ss-gray-200 bg-ss-gray-200/40 px-0.5 py-[0.5px] dark:border-ss-gray-400/30 dark:bg-ss-gray-400/20;
  }

  .markdown .remark-code-title {
    @apply z-10 -mb-1 mt-3 w-full rounded-t-md border border-ss-gray-300/80 bg-[#191724] px-2 py-1 font-mono text-ss-gray-200;
  }

  .markdown pre {
    @apply mx-auto mb-3 rounded border border-ss-gray-300/80 p-2 pl-3 font-mono shadow-xl sm:pt-2;
  }

  .markdown ol {
    @apply w-full;
  }

  .markdown details {
    @apply mt-2 w-full rounded-md border border-ss-gray-300/80 bg-[#191724] px-3 transition-all duration-300 ease-in-out;
  }
  .markdown details[open] {
    @apply bg-ss-gray-200/10;
  }
  .markdown details pre {
    @apply border-0 shadow-none;
  }
  .markdown details > summary {
    @apply cursor-pointer text-[#A6ACCD];
  }
  .markdown summary {
    @apply py-3;
  }

  .markdown p > img {
    @apply mt-8 text-sm;
  }
  .markdown table > tbody > tr > td > a {
    overflow-wrap: anywhere;
  }
  .markdown table {
    @apply max-w-full table-fixed;
  }
  .markdown table > tbody > tr > td {
    @apply align-top;
  }
  .markdown blockquote a {
    @apply text-slate-900 dark:text-ss-gray-50;
  }
  .DocSearch-SearchBar {
    @apply my-3 rounded-md bg-zinc-900 p-2 text-sm;
  }

  #DocSearch-SearchBar {
    @apply my-3 rounded-md bg-zinc-900 p-2 text-sm;
  }

  .embed {
    @apply relative mb-2 h-0 w-full pb-[56.25%];
  }

  .embed iframe {
    @apply absolute top-0 left-0 h-full w-full;
  }
}
